*{
    box-sizing: border-box;
    text-align: center;
}
body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    --darkGrey: #212529;
    --color: var(--darkGrey);
    --bg-color: white;
}
body.dark{
    --color: white;
    --bg-color: var(--darkGrey);
    background-color: var(--bg-color);
    color: white;
}
.container-fluid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-primary{
    background-color: #712cf9;
    box-shadow: 0px 0px 5px #712cf9;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}.btn-primary:hover{
    box-shadow:  0 0 0 ;
    background-color: #712cf9;
}
.btn-primary.active{
    box-shadow: 0 0 0;
    background-color: rgba(0,0,0,0);
    border: 2px solid #712cf9;
    color: #712cf9;
}
h1{
    margin: 20px 0;
}
.btn-outline-secondary, h2{
    margin: 5px;
    display: inline;
    font-size: calc(0.8rem + 0.6vw);
}
input{
    width: calc(14rem + 3vw);
    display: inline;
    padding-left: 0.2rem;
    padding-bottom: 0.2rem;
    margin: 10px 0 0 0;
    font-size: calc(1rem + 0.8vw);
    text-align: left;
    color: var(--color);
    border: none;
    border-bottom: 1px solid var(--color);
    background-color: #00000000;
}input::placeholder{
    color: var(--color);
    opacity: 0.7;
}input:focus{
    outline: none;
    border-bottom: 2px solid var(--color)
}

.table{
    width: min(80vw, 500px);
    margin-top: 10px;
    border: 1px solid #79dfc1;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.tblRow{
    height: 34px;
    border: 1px solid #79dfc1;
    color: white;
    font-size: calc(0.8rem + 0.6vw);
    font-weight: bold;
    letter-spacing: 1px;

}.tblRow:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}.tblRow:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* theme dropus */
.dropup{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: calc(0.8rem + 0.6vw);
    --dd-border: #712cf9;
    --dd-color: var(--darkGrey);
}.dark .dropup{
    --dd-color: rgb(220, 220, 220);
}
#dd-btn{
    background-color: #712cf9;
    border: none;
}#dd-btn:hover, #dd-btn:active{
    background-color: #4715ab;
}
.dd-ul{
    list-style-type: none;
    border: 1.5px solid var(--dd-border);
    border-radius: 5px;
    position: fixed;
    right: 20px;
    bottom: 40px;
    padding: 0;
    background-color: var(--dd-border);
}.dd-item{
    padding: 5px 30px;
    color: var(--dd-color);
    cursor: pointer;
    background-color: var(--bg-color);
}.dd-item:hover{
    background-color: var(--dd-border);
    color: white;
}.light{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1.5px solid var(--dd-border);
}.dark{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* game classes */
.hide{
    display: none;
}.tblRow.green{
    background-color: #79dfc1;
}
.btn.green{
    background-color: #79dfc1;
    box-shadow: 0 0 5px #79dfc1;
    color: var(--color);
}.btn.green.active{
    box-shadow: 0 0 0 ;

}
.btn.red, body.red{
    background-color: red;
}